
.ctabtn{
    background: #CEE0D6;
    border: 2px solid #008037;
    border-radius: 86px;
    padding: 20px 40px;
    font-size: 18px;
    color:#008037;
    transition:.3s ease;
    
    }
    .ctabtn:hover{
        background-color: #008037;
        color:#fff;
        /* border:2px solid #fff; */
    }